.gradle
build
.idea
gradlew.bat
/bot.iml
out
.project
.settings/
bin
__pycache__
recordings/
clips
.metals/
.classpath
/infra/terraform/.terraform.lock.hcl
/infra/terraform/.terraform
/infra/terraform/terraform.tfstate
/infra/terraform/terraform.tfstate.backup
bot.log
scripts/upload.sh
scripts/startup.sh
