.paper {
  text-align: center;
  width: 80vw;
  margin: auto;
  margin-top: 3rem;

  background-color: #ECE1CF;
  color: var(--color-secondary);
  position: relative;
  border-radius: 0.8rem;
}

.doodle {
  position: absolute;
  z-index: 100;
}

.smugcat-smol {
  top: 1rem;
  right: 1rem;
  width: 8rem;
}

.cabbagemn-smol {
  bottom: 1rem;
  right: 8rem;
  height: 24rem;
  transform: rotate(-15deg);
}

.lordx-smol {
  bottom: 3rem;
  left: 9rem;
  width: 16rem;
}

.smugcat {
  bottom: 0.5rem;
  right: 4rem;
  height: 20rem;
  transform: rotate(6deg);
}

.cabbagemn {
  bottom: 8rem;
  left: 14rem;
  transform: rotate(-10deg);
  height: 40rem;
}

.lordx {
  bottom: 4rem;
  right: 2rem;
  height: 44rem;
  transform: rotate(-5deg);
}

.paper-side-gutter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 7rem;
  border-right: 4px solid #FF4D6C;
}

.paper-rows {
  z-index: 50;
}

.paper-row {
  padding-left: 8rem;
  padding-right: 2rem;
  border-bottom: 2px solid var(--color-hover);
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}

.paper-top-gutter {
  height: 7rem;
}

.paper-top-gutter h1 {
  margin: auto;
}

.bottom-row {
  border: 0;
  height: 4rem;
}

.section-title {
  margin: auto;
  text-align: center;
}

.command, .command-description {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
  margin: 0;
}

.command {
  font-weight: bold;
  width: 37%;
}

.command-description {
  width: 50%;
}

.scary {
  text-decoration: wavy underline #C0302C;
}

li, p {
  text-align: left;
}

.hole {
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  left: 1.5rem;
}

.hole-top {
  top: calc(8% - 0.9rem);
}

.hole-mid {
  top: calc(50% - 0.9rem);
}

.hole-bot {
  top: calc(92% - 0.9rem);
}

.hide {
  display: none;
}


/* media queries -- default is large (width > 90rem) */

/* medium */
@media(max-width: 90rem) {
  .paper-row {
    height: 4rem;
  }

  .paper-top-gutter {
    height: 9rem;
  }

  .bottom-row {
    height: 5rem;
  }

  .cabbagemn-smol {
    height: 20rem;
  }
}

/* medium */
@media (max-width: 90rem) {
  .smugcat-smol {
    top: 80%;
    left: 16rem;
    width: 12rem;
  }
}

/* small */
@media (max-width: 68rem) {
  .paper {
    margin: 1rem 0;
    width: 100%;
  }
}
