.banner {
  font-size: 4rem;
  padding: 2rem 4rem;
  margin: auto;
  text-align: center;
  font-weight: normal;
}

.fail {
  text-decoration: line-through var(--color-accent);
}

.right  {
  text-align: right;
}

.steps {
  list-style: none;
  padding: 0;
  margin: 3rem 6rem;
}

.step-image, .step {
  vertical-align: middle;
}

.step-image {
  border: 8px solid var(--color-secondary);
  width: 53%;
  min-width: 30rem;
  margin: 2rem 0;
}

.step {
  max-width: calc(30% - 3rem);
  margin: 1rem;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.step-number {
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 5rem;
  margin-top: 0;
}

.step-description {
  width: 100%;
  font-size: 1.8rem;
  padding: 0;
  margin-bottom: 0;
}

.right .step {
  margin-left: 0;
}

.left .step {
  margin-right: 0;
}

.question-marks {
  padding: 0;
  text-align: center;
}

.question-marks .step-description {
  font-size: 6rem;
}

@media(max-width: 90rem) {
  .steps {
    margin: 2rem;
  }

  .step {
    margin: 0;
    max-width: calc(30% - 1.5rem);
  }

  .step-image {
    min-width: 30rem;
  }

  .right .step {
    margin-right: 1rem;
  }

  .left .step {
    margin-left: 1rem;
  }

  .question-marks .step-description {
    font-size: 2rem;
  }

}

@media(max-width: 68rem) {
  .step {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .left .step, .right .step {
    margin: 1rem 0;
  }

  .left, .right {
    margin-bottom: 6rem;
  }

  .step-image {
    width: calc(100% - 16px);
    margin: 0;
    text-align: center;
  }

  .step-number {
    margin-bottom: 1rem;
  }
}
