.waveform {
  position: relative;
}

.waveform-data {
  width: 100%;
  z-index: 0;
}

.waveform-selection {
  width: 13%;
  height: 100%;
  background-color: rgba(151, 210, 236, 0.2); /* --color-secondary with 20% alpha */
  position: absolute;
  top: 0;
  left: 72%;
  z-index: 100;
}

.description, .tagline {
  text-align: center;
  margin: 1%;
}
