
/* beach house
:root {
  --color-primary: #FFB6B9;
  --color-secondary: #FAE3D9;
  --color-text: #BBDED6;
  --color-accent: #61C0BF;
}
*/

/* pastel prep
:root {
  --color-primary: #A1D9FF;
  --color-secondary: #CA82F8;
  --color-text: #ED93CB;
  --color-accent: #F2BBBB;
}
*/

/* rose
:root {
  --color-primary: #FCEEF5;
  --color-secondary: #F3BAD6;
  --color-text: #EA86B6;
  --color-accent: #E05297;
}
*/

/* may
:root {
  --color-accent: #EFEE9D;
  --color-text: #D1EAA3;
  --color-secondary: #DBC6EB;
  --color-primary: #ABC2E8;
}
*/

/* april
:root {
  --color-primary: #ECFEFF;
  --color-secondary: #00B7C2;
  --color-text: #128494;
  --color-accent: #4EF037;
}
*/

/* barbie
:root {
  --color-primary: #FB0091;
  --color-secondary: #FB8691;
  --color-text: #FB9E91;
  --color-accent: #FBDA91;
}
*/

/* golden
:root {
  --color-primary: #990000;
  --color-secondary: #FF5B00;
  --color-text: #D4D925;
  --color-accent: #FFEE63;
}
*/

/* electric raspberry
:root {
  --color-primary: #332FD0;
  --color-secondary: #9254C8;
  --color-text: #E15FED;
  --color-accent: #6EDCD9;
}
*/

/* easter egg
:root {
  --color-primary: #FA26A0;
  --color-secondary: #05DFD7;
  --color-text: #A3F7BF;
  --color-accent: #FFF591;
}
*/

/* psychic pikachu
:root {
  --color-primary: #402785;
  --color-secondary: #5F4E9E;
  --color-text: #FAFB97;
  --color-accent: #FCC97B;
}
*/

