/* document */

/* Colors - thanks Sydney */
:root {
  --color-primary: #091123;
  --color-secondary: #2b364e;
  --color-text: #F4BDDC;
  --color-accent: #C4ECF9;
  --color-hover: #54C7EC;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Silkscreen', cursive;
  font-size: 16pt;
  height: 100%;
}

body {
  color: var(--color-text);
  background-color: var(--color-primary);
  margin: 0;
  height: 100%;
}

/* sections */

main {
  min-height: calc(100% - 8rem);
}

nav, footer {
  background: var(--color-secondary);
  width: 100%;
  height: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.brand {
  height: 100%;
  margin: 0 1rem;
  display: inline-flex;
  align-items: center;
}

.brand p {
  font-family: 'Monoton', cursive;
  font-size: 2rem;
  width: 100%;
  text-align: left;
  color: var(--color-accent);
  margin: 0;
  display: inline-block;
}

.brand img {
  height: 80%;
  display: inline-block;
  margin: auto;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links {
  display: inline-flex;
  align-items: center;
  text-align: right;
  justify-content: space-between;
  margin-right: 1rem;
}

.nav-item, .divider {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
}

.divider {
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background-color: var(--color-accent);
  margin: 0 1rem;
}

footer {
  margin-top: 2rem;
}

footer p {
  text-align: center;
  padding: 1.5rem;
  margin: 0;
}


/* text and links */

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
}

h1 {
  font-size: 2.5rem;
  padding: 0 3rem;
}

h2 {
  font-size: 1.5rem;
  padding: 0 3rem;
}


/* media queries */

.hide {
  display: none !important;
}

.med-only {
  display: none;
}

.small-only {
  display: none;
}

@media (max-width: 90rem) {
  .large {
    display: none;
  }

  .med-only {
    display: initial;
  }
}

@media (max-width: 68rem) {
  .large {
    display: none;
  }

  .small-only {
    display: initial;
  }

  .med-plus {
    display: none;
  }
}
